.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms var(--timing-function), visibility 500ms var(--timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-150%, -120%) scale(0.5) rotate(0deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 528px;
  min-height: 521px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1) rotate(1turn);
  transition: transform 500ms var(--timing-function);
}

.modal__close-btn {
  @extend %flex-center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--black-color);
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--blue-color);
    border-color: var(--blue-color);
  }
}

.modal__close-icon {
  fill: currentColor;
}
