.modal__container {
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.modal__form {
  display: block;
  color: var(--secondary-grey-color);
}

.pers-data {
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

.pers-data__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.pers-data__input {
  position: relative;
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  margin-top: 4px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus,
  &:focus + .pers-data__icon {
    outline: none;
    border-color: var(--blue-color);
    color: var(--blue-color);
    transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
  }
}

.pers-data__icon {
  position: absolute;
  transform: translate(12px, -38px);
  z-index: 3;
  color: var(--primary-black-color);
  fill: currentColor;
}

.pers-data__textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-top: 4px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--blue-color);
    color: var(--blue-color);
    transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
  }
}

.submit-data {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  line-height: 24px;
}

.submit-data__label {
  @extend %flex-center;
  gap: 7px;
}

.submit-data__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &:checked + .submit-data__icon {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' /%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
    background-size: contain;
    background-origin: border-box;
  }
}

.submit-data__icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.submit-data__link {
  @extend %link;
  text-decoration: underline;
  color: var(--blue-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--submit-hover-color);
  }
}
