.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--grey-color);
  letter-spacing: 0.03em;

  @media screen and (max-width: $tabletMax) {
    text-align: center;

    @media screen and (min-width: $desktopMin) {
      text-align: left;
    }
  }
}

.footer__sections {
  @media screen and (min-width: $desktopMin) {
    display: flex;
    align-items: baseline;
  }
}

.footer__info {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-right: auto;
  }
}

.footer__address {
  margin-bottom: 60px;

  @media screen and (min-width: $desktopMin) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__logo {
  @extend %link;
  margin-bottom: 20px;
  display: block;
  color: var(--blue-color);
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}

.footer__accent {
  color: var(--white-color);
}

/* Footer Links */

.footer-media {
  margin-bottom: 60px;

  @media screen and (min-width: $desktopMin) {
    margin-bottom: 0;
  }
}

.footer-media__title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-media__list {
  @extend %flex-center;
  @extend %list;
}

.footer-media__item {
  @extend .media__item;
}

.footer-media__link {
  @extend %flex-center;
  @extend .media__link;
  color: var(--white-color);
  background-color: var(--footer-white-color);

  &:hover,
  &:focus {
    color: var(--white-color);
  }
}

.footer-media__icon {
  fill: currentColor;
}

.footer-form__title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-form__block {
  position: relative;
  color: var(--secondary-white-color);

  @media screen and (min-width: $tabletMin) {
    display: inline-block;
    text-align: center;
    min-width: 450px;
  }

  @media screen and (min-width: $desktopMin) {
    display: flex;
  }
}

.footer-form__input {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: currentColor;

  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
  }

  &:focus + .footer-form__label,
  &:not(:placeholder-shown) + .footer-form__label {
    transform: translateY(calc(-100% + -30px));
  }

  @media screen and (min-width: $tabletMin) {
    &:focus + .footer-form__label,
    &:not(:placeholder-shown) + .footer-form__label {
      transform: translateX(calc(-100% + -32px));
    }
  }

  @media screen and (min-width: $desktopMin) {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 358px;
  }
}

.footer-form__label {
  position: absolute;
  top: 15px;
  left: 16px;
  line-height: 20px;
  color: currentColor;
  transition: transform 250ms var(--timing-function);
}

.footer-form__btn {
  @extend %flex-center;
  gap: 10px;
  margin: 0 auto;
}
